
  <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="mt">
            <a class="active" routerLink="init">
              <i class="fa fa-th"></i>
              <span>INICIO</span>
              </a>
          </li>
          <li class="sub-menu">
              <a routerLink="deptos">
                <i class="fa fa-building"></i>
                <span>EDIFICIO</span>
                </a>
            </li>
            <li class="sub-menu">
                <a routerLink="tareas">
                  <i class="fa fa-check-circle"></i>
                  <span>TAREAS</span>
                  </a>
              </li>
              <li class="sub-menu">
                  <a routerLink="props">
                    <i class="fa fa-tasks"></i>
                    <span>PROPUESTAS</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a routerLink="calidad">
                      <i class="fa fa-thumbs-up"></i>
                      <span>CALIDAD DEL SERVICIO</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a routerLink="coments">
                        <i class="fa fa-comment"></i>
                        <span>COMENTARIOS</span>
                        </a>
                    </li>
        </ul> 

        <!-- sidebar menu end-->
      </div>
    </aside>