<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
    <!--logo start-->
    <div >
    <a class="logo" href="index.html"><b><span>EL</span>PALMAR</b>
      
      </a>
    
  </div>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
        <!-- settings start -->
        

      </ul>
      <!--  notification end -->
    </div>
    <div class="top-menu">
        <a class="nav pull-right top-menu" href="login.html"><img src="assets/img/auglogo.png"></a>        
      </div>

  </header>




    